@charset "UTF-8";

body {
	
	background-color:skyblue;
}


table{
	margin: 0 auto;
	width: 800px;
	height: 500px;
	border-collapse: collapse;
}

th{
	height: 30px;
	background-color: blue;
}

td{ text-align : center;
	border-bottom: 1px solid gray;
}

#td1{
	width: 10%;
	
}

#td2{
	width: 20%
}

.title{
	text-align: left;
}

tr:hover {
	background-color: gray;
}